absl-py==0.7.1
astor==0.7.1
bleach==1.5.0
certifi==2018.11.29
chardet==3.0.4
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
html5lib==0.9999999
idna==2.8
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
mock==2.0.0
numpy==1.16.3
pandas==0.23.4
pbr==5.2.0
protobuf==3.6.1
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
scikit-learn==0.17.1
scipy==1.1.0
sigopt==3.6.0
six==1.10.0
tensorboard==1.13.1
tensorflow-gpu==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.24.2
Werkzeug==0.15.2
